In [1]:
import pandas as pd
import unidecode
from tqdm import tqdm
import re
import random

In [24]:
path = 'D:\Projects\VND_work\classification_fb_education\data_for_augmentation\education_train.csv'
df = pd.read_csv(path)
df['lower_text'] = df['text'].apply(lambda x: x.lower())
df['lower_normed_text'] = df['normed_text'].apply(lambda x: x.lower())
df

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
1,1,1143,da hoc truong trung cap quan ly nha hang khach...,trung cấp Quản trị Nhà hàng Khách sạn,da hoc truong trung cap quan ly nha hang khach...,trung cấp quản trị nhà hàng khách sạn
2,2,12978,Trường THPT Nguyễn Du - Đồng Xoài - BP,Trường THPT Nguyễn Du,trường thpt nguyễn du - đồng xoài - bp,trường thpt nguyễn du
3,3,4098,ttgdnn gdtx nam dan,TT GDNN-GDTX Nam Đàn,ttgdnn gdtx nam dan,tt gdnn-gdtx nam đàn
4,4,9602,Hoc Vien An ning,Học Viện An ninh Nhân Dân,hoc vien an ning,học viện an ninh nhân dân
...,...,...,...,...,...,...
11691,11691,13085,Trường THPT Hồng Quang Lục Yên,Trường THPT Hồng Quang,trường thpt hồng quang lục yên,trường thpt hồng quang
11692,11692,7103,truong th pho thong lê hông phong,Trường THPT chuyên Lê Hồng Phong TP.HCM,truong th pho thong lê hông phong,trường thpt chuyên lê hồng phong tp.hcm
11693,11693,1213,hue medical junior college,Cao Đẳng Y tế Huế,hue medical junior college,cao đẳng y tế huế
11694,11694,13872,Đại học Bách Khoa HCM,Trường Đại học Bách khoa - Đại học Quốc gia TP...,đại học bách khoa hcm,trường đại học bách khoa - đại học quốc gia tp...
11695,11695,2462,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun,tt gdnn-gdtx huyện nậm nhùn

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11696 entries, 0 to 11695
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11696 non-null  int64
 1   index              11696 non-null  int64
 2   text               11696 non-null  object
 3   normed_text        11696 non-null  object
 4   lower_text         11696 non-null  object
 5   lower_normed_text  11696 non-null  object
dtypes: int64(2), object(4)
memory usage: 548.4+ KB

In [26]:
mask = df['lower_text'].apply(lambda x: 'hcm' in x)
df.loc[mask, 'lower_text']

1        da hoc truong trung cap quan ly nha hang khach...
35               đại học công nghệ thông tin thành phố hcm
109                 uef - đại học kinh tế tài chính tp.hcm
115                                             dhsp tphcm
186                                                  sphcm
                               ...
11585                            đại học công nghiệp tphcm
11615                         dh cong nghiep thuc pham hcm
11633                         ueh - đại học kinh tế tp hcm
11635                                tung hoc cdcntt tphcm
11694                                đại học bách khoa hcm
Name: lower_text, Length: 313, dtype: object

In [27]:
df['normed_text'].unique().shape

(5816,)

In [28]:
df['text'].unique().shape

(10520,)

In [29]:
df.loc[df['normed_text']=='Trường THPT Phú Bình', :]

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
8377,8377,9764,Trường THPT Phú Bình - Thái Nguyên,Trường THPT Phú Bình,trường thpt phú bình - thái nguyên,trường thpt phú bình
10513,10513,8961,Trường THPT Phú Bình - Thái Nguyên,Trường THPT Phú Bình,trường thpt phú bình - thái nguyên,trường thpt phú bình
11244,11244,2747,Trường THPT phu binh,Trường THPT Phú Bình,trường thpt phu binh,trường thpt phú bình

In [30]:
df.loc[df['normed_text']=='Trường THPT Phú Bình', :]['text'].to_list()

['Trường THPTTH Phú Bình',
 'Trường THPT Phú Bình - Thái Nguyên',
 'Trường THPT Phú Bình - Thái Nguyên',
 'Trường THPT phu binh']

In [31]:
df2 = pd.DataFrame(df['lower_text'].unique(), columns=['lower_text_unique'])
df2

                                       lower_text_unique
0                                 trường thptth phú bình
1      da hoc truong trung cap quan ly nha hang khach...
2                 trường thpt nguyễn du - đồng xoài - bp
3                                    ttgdnn gdtx nam dan
4                                       hoc vien an ning
...                                                  ...
10364                     trường thpt hồng quang lục yên
10365                  truong th pho thong lê hông phong
10366                         hue medical junior college
10367                              đại học bách khoa hcm
10368                 trung tam gdnn gdtx huyen nam nhun

[10369 rows x 1 columns]

In [32]:
results = dict() # storage

def string_punctuation(text):
    res = re.findall(r'\w+', text)
    return ' '.join(res)

def remove_accent(text):
    res = unidecode.unidecode(text)
    return string_punctuation(res)

def generate_augmentation(s, num_iters=1000):
    global results # storage
    s_no_accents = remove_accent(s).lower()
    results[s] = [s, s_no_accents]
    
    augmentation = {'truong trung hoc pho thong': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'trung hoc pho thong': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'truong thpt': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'thpt': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'high school': ['high school', 'highschool'],
                    'tp. ho chi minh': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'tp ho chi minh': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'tp hcm': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'hcm': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'truong dai hoc': ['dai hoc', 'đại học', 'daj hoc', 'dh', 'truong dai hoc', 'trường đại học', 'truong dh', 'truog daj hoc', 
                        'tru0`ng +)4j h0.c', 'tru0nq d4j h0c', '+)4j h0.c', "đại's học's", 'd4j h0c', 'trg dh', 'truog dh', 'dai hok', 'daj hok'],
                    'dai hoc': ['dai hoc', 'đại học', 'daj hoc', 'dh', 'truong dai hoc', 'trường đại học', 'truong dh', 'truog daj hoc', 
                        'tru0`ng +)4j h0.c', 'tru0nq d4j h0c', '+)4j h0.c', "đại's học's", 'd4j h0c', 'trg dh', 'truog dh', 'dai hok', 'daj hok'],
                    'truong cao dang su pham': ['cao dang su pham', 'cdsp', 'cao dag su fam', 'c40 ])4ng su ph4m', 'c40 d4nq su pk4m', 'cao đẳng sư phạm',
                        'trường cao đẳng sư phạm', 'truong cao dang su pham', 'trg cdsp', 'truog cdsp', 'truog cao dag su fam', 
                        'tru0`ng c40 +)4ng su ph4m', 'tru0nq c40 d4nq su pk4m'],
                    'cao dang su pham': ['cao dang su pham', 'cdsp', 'cao dag su fam', 'c40 ])4ng su ph4m', 'c40 d4nq su pk4m', 'cao đẳng sư phạm',
                        'trường cao đẳng sư phạm', 'truong cao dang su pham', 'trg cdsp', 'truog cdsp', 'truog cao dag su fam', 
                        'tru0`ng c40 +)4ng su ph4m', 'tru0nq c40 d4nq su pk4m'],
                    'truong cao dang': ['cao dang', 'cao đẳng', 'cao dag', 'c40 +)4ng', 'c40 d4nq', 'cd', 'truong cao dang', 'trường cao đẳng', 'truog cao dag', 
                        'tru0`ng c40 +)4ng', 'tru0nq c40 d4nq'],
                    'cao dang': ['cao dang', 'cao đẳng', 'cao dag', 'c40 +)4ng', 'c40 d4nq', 'cd', 'truong cao dang', 'trường cao đẳng', 'truog cao dag', 
                        'tru0`ng c40 +)4ng', 'tru0nq c40 d4nq'],
                    'hoc vien': ['hoc vien', 'học viện', 'hoc vjen', 'h0.c vjện', 'h0c vj3n'],
                    'dan lap': ['dan lap', 'dân lập' 'dl', 'd4n l4p'],
                    'ptdt': ['ptdt nt', 'ptdtnt', 'pho thong dan toc noi tru', 'phổ thông dân tộc nội trú', 'ptdt noj tru' ,'fo thog dan toc noj tru',
                        'pk0 tk0nq d4n t0c n0j tru'],
                    'trung tam giao duc thuong xuyen': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'giao duc thuong xuyen': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'trung tam gdtx': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'gdtx': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'dai hoc bach khoa ha noi': ['dai hoc bach khoa ha noi', 'đại học bách khoa hà nội', 'dhbkhn', 'dh bkhn', 
                        'daj hoc bax koa ha noj', "+)4j h0.c |34'ch kh04 h4` n0.j", "đại's học's bách's khoa's hà's nội's",
                        'd4j h0c b4ck kh04 h4 n0j', 'dh bach khoa hn', 'dh bach khoa ha noi', 'dhbk ha noi', 'dhbk hn', 'bkhn',
                        'bk ha noi'],
                    'dh bach khoa ha noi': ['dai hoc bach khoa ha noi', 'đại học bách khoa hà nội', 'dhbkhn', 'dh bkhn', 
                        'daj hoc bax koa ha noj', "+)4j h0.c |34'ch kh04 h4` n0.j", "đại's học's bách's khoa's hà's nội's",
                        'd4j h0c b4ck kh04 h4 n0j', 'dh bach khoa hn', 'dh bach khoa ha noi', 'dhbk ha noi', 'dhbk hn', 'bkhn',
                        'bk ha noi'],
                    'bach khoa': ['bach khoa', 'bk', 'bách khoa', "bách's khoa's", 'b4ck kh04', 'back khoa'],
                    'hoc vien ngan hang': ['hoc vien ngan hang', 'học viện ngân hàng', 'hvnh'],
                    'giao thong van tai': ['giao thong van tai', 'giao thông vận tải', 'gtvt', 'jao thog van taj', 'gj40 th0ng v4n t4j',
                        'qj40 tk0nq v4n t4j', 'giao thong vt'],
                    'truong dai hoc su pham': ['truong dai hoc su pham', 'trường đại học sư phạm', 'dhsp', 'dai hoc su pham',
                        'daj hoc su pham', 'truog daj hoc su fam', 'tru0`ng +)4j h0.c su ph4m', 'tru0nq d4j h0c su pk4m',
                        'trg dhsp'],
                    'dai hoc su pham': ['truong dai hoc su pham', 'trường đại học sư phạm', 'dhsp', 'dai hoc su pham',
                        'daj hoc su pham', 'truog daj hoc su fam', 'tru0`ng +)4j h0.c su ph4m', 'tru0nq d4j h0c su pk4m',
                        'trg dhsp']}

    for _ in range(num_iters):
        for k in augmentation.keys():
            if k in s_no_accents:
                index = s_no_accents.find(k)
                s_tmp = s_no_accents.replace(k, '', 1) # replace the first occurence
                n = random.randrange(len(augmentation[k]))
                insert_part = augmentation[k][n]
                one_case = s_tmp[:index] + insert_part + s_tmp[index:]
                if one_case not in results[s]:  
                    results[s].append(one_case)

In [33]:
for i in tqdm(range(len(df2)), desc="Augmentation"):
    text = df2['lower_text_unique'][i]
    generate_augmentation(text, num_iters=1000)

Augmentation: 100%|█████████████████████████████████████████████████████████████| 10369/10369 [01:25<00:00, 120.58it/s]

In [34]:
df2['augmented_name'] = df2['lower_text_unique'].apply(lambda x: results[x])
df2['count'] = df2['lower_text_unique'].apply(lambda x: len(results[x]))
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"[trường thptth phú bình, truong thptth phu bin...",68
1,da hoc truong trung cap quan ly nha hang khach...,[da hoc truong trung cap quan ly nha hang khac...,38
2,trường thpt nguyễn du - đồng xoài - bp,"[trường thpt nguyễn du - đồng xoài - bp, truon...",68
3,ttgdnn gdtx nam dan,"[ttgdnn gdtx nam dan, ttgdnn gdtx nam dan, ttg...",20
4,hoc vien an ning,"[hoc vien an ning, hoc vien an ning, học viện ...",6
...,...,...,...
10364,trường thpt hồng quang lục yên,"[trường thpt hồng quang lục yên, truong thpt h...",68
10365,truong th pho thong lê hông phong,"[truong th pho thong lê hông phong, truong th ...",2
10366,hue medical junior college,"[hue medical junior college, hue medical junio...",2
10367,đại học bách khoa hcm,"[đại học bách khoa hcm, dai hoc bach khoa hcm,...",42
10368,trung tam gdnn gdtx huyen nam nhun,"[trung tam gdnn gdtx huyen nam nhun, trung tam...",20

In [35]:
df2.loc[0, 'lower_text_unique']

'trường thptth phú bình'

In [36]:
for i in tqdm(range(len(df2))):
    content = df2.loc[i, 'lower_text_unique']
    original_list = df.loc[df['lower_text']==content, :]['text'].to_list()
    df2.loc[i, 'augmented_name'].extend(original_list)
    df2.loc[i, 'count'] += len(original_list)

100%|███████████████████████████████████████████████████████████████████████████| 10369/10369 [00:28<00:00, 362.93it/s]

In [37]:
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"[trường thptth phú bình, truong thptth phu bin...",69
1,da hoc truong trung cap quan ly nha hang khach...,[da hoc truong trung cap quan ly nha hang khac...,39
2,trường thpt nguyễn du - đồng xoài - bp,"[trường thpt nguyễn du - đồng xoài - bp, truon...",69
3,ttgdnn gdtx nam dan,"[ttgdnn gdtx nam dan, ttgdnn gdtx nam dan, ttg...",21
4,hoc vien an ning,"[hoc vien an ning, hoc vien an ning, học viện ...",7
...,...,...,...
10364,trường thpt hồng quang lục yên,"[trường thpt hồng quang lục yên, truong thpt h...",69
10365,truong th pho thong lê hông phong,"[truong th pho thong lê hông phong, truong th ...",3
10366,hue medical junior college,"[hue medical junior college, hue medical junio...",3
10367,đại học bách khoa hcm,"[đại học bách khoa hcm, dai hoc bach khoa hcm,...",43
10368,trung tam gdnn gdtx huyen nam nhun,"[trung tam gdnn gdtx huyen nam nhun, trung tam...",21

In [38]:
df2['count'].sum()

349106

In [39]:
n_rows = df2['count'].sum()

n_columns = 2
df3 = pd.DataFrame(index=range(n_rows), columns=range(n_columns))
i = 0
df3

          0    1
0       NaN  NaN
1       NaN  NaN
2       NaN  NaN
3       NaN  NaN
4       NaN  NaN
...     ...  ...
349101  NaN  NaN
349102  NaN  NaN
349103  NaN  NaN
349104  NaN  NaN
349105  NaN  NaN

[349106 rows x 2 columns]

In [40]:
for k, v in tqdm(results.items(), desc='Flattening'):
    for element in v:
        df3[0][i] = k
        df3[1][i] = element
        i += 1

Flattening:   1%|▌                                                                  | 80/10369 [00:15<32:54,  5.21it/s]

KeyboardInterrupt:

In [69]:
df3

,0,1
0,Trường THPT Phú Bình,Trường THPT Phú Bình
1,Trường THPT Phú Bình,truong thpt phu binh
2,Trường THPT Phú Bình,truong cap 3 phu binh
3,Trường THPT Phú Bình,truong trung hoc pho thong phu binh
4,Trường THPT Phú Bình,truong truong pho thong trung hoc phu binh
...,...,...
71054,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam gdtx huyen nam nhun
71055,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam giao duc thuong xuyen huyen ...
71056,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn giao duc thuong xuyen huyen nam nhun
71057,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn ttgdtx huyen nam nhun
71058,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun

In [70]:
df3.columns = ['normed_text', 'original_and_fake']
df3

,normed_text,original_and_fake
0,Trường THPT Phú Bình,Trường THPT Phú Bình
1,Trường THPT Phú Bình,truong thpt phu binh
2,Trường THPT Phú Bình,truong cap 3 phu binh
3,Trường THPT Phú Bình,truong trung hoc pho thong phu binh
4,Trường THPT Phú Bình,truong truong pho thong trung hoc phu binh
...,...,...
71054,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam gdtx huyen nam nhun
71055,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam giao duc thuong xuyen huyen ...
71056,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn giao duc thuong xuyen huyen nam nhun
71057,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn ttgdtx huyen nam nhun
71058,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun

## Adding normed_text and lower_normed_text

In [6]:
import pandas as pd

df = pd.read_csv('./data_for_augmentation/education_train.csv')
df['lower_text'] = df['text'].apply(lambda x: x.lower())
df['lower_normed_text'] = df['normed_text'].apply(lambda x: x.lower())
df

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
1,1,1143,da hoc truong trung cap quan ly nha hang khach...,trung cấp Quản trị Nhà hàng Khách sạn,da hoc truong trung cap quan ly nha hang khach...,trung cấp quản trị nhà hàng khách sạn
2,2,12978,Trường THPT Nguyễn Du - Đồng Xoài - BP,Trường THPT Nguyễn Du,trường thpt nguyễn du - đồng xoài - bp,trường thpt nguyễn du
3,3,4098,ttgdnn gdtx nam dan,TT GDNN-GDTX Nam Đàn,ttgdnn gdtx nam dan,tt gdnn-gdtx nam đàn
4,4,9602,Hoc Vien An ning,Học Viện An ninh Nhân Dân,hoc vien an ning,học viện an ninh nhân dân
...,...,...,...,...,...,...
11691,11691,13085,Trường THPT Hồng Quang Lục Yên,Trường THPT Hồng Quang,trường thpt hồng quang lục yên,trường thpt hồng quang
11692,11692,7103,truong th pho thong lê hông phong,Trường THPT chuyên Lê Hồng Phong TP.HCM,truong th pho thong lê hông phong,trường thpt chuyên lê hồng phong tp.hcm
11693,11693,1213,hue medical junior college,Cao Đẳng Y tế Huế,hue medical junior college,cao đẳng y tế huế
11694,11694,13872,Đại học Bách Khoa HCM,Trường Đại học Bách khoa - Đại học Quốc gia TP...,đại học bách khoa hcm,trường đại học bách khoa - đại học quốc gia tp...
11695,11695,2462,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun,tt gdnn-gdtx huyện nậm nhùn

In [7]:
df2 = pd.read_csv('./data_augmented/education_train_count.csv')
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"['trường thptth phú bình', 'truong thptth phu ...",69
1,da hoc truong trung cap quan ly nha hang khach...,['da hoc truong trung cap quan ly nha hang kha...,39
2,trường thpt nguyễn du - đồng xoài - bp,"['trường thpt nguyễn du - đồng xoài - bp', 'tr...",69
3,ttgdnn gdtx nam dan,"['ttgdnn gdtx nam dan', 'ttgdnn gdtx nam dan',...",21
4,hoc vien an ning,"['hoc vien an ning', 'hoc vien an ning', 'h0.c...",7
...,...,...,...
10364,trường thpt hồng quang lục yên,"['trường thpt hồng quang lục yên', 'truong thp...",69
10365,truong th pho thong lê hông phong,"['truong th pho thong lê hông phong', 'truong ...",3
10366,hue medical junior college,"['hue medical junior college', 'hue medical ju...",3
10367,đại học bách khoa hcm,"['đại học bách khoa hcm', 'dai hoc bach khoa h...",43
10368,trung tam gdnn gdtx huyen nam nhun,"['trung tam gdnn gdtx huyen nam nhun', 'trung ...",21

In [8]:
df3 = pd.read_csv('./data_augmented/education_train_augmented.csv')
df3.columns = ['lower_text', 'original_and_fake']
df3

,lower_text,original_and_fake
0,trường thptth phú bình,trường thptth phú bình
1,trường thptth phú bình,truong thptth phu binh
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh
4,trường thptth phú bình,pk0 tk0nqth phu binh
...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun

In [9]:
df3['normed_text'] = None
df3['lower_normed_text'] = None
df3

,lower_text,original_and_fake,normed_text,lower_normed_text
0,trường thptth phú bình,trường thptth phú bình,None,None
1,trường thptth phú bình,truong thptth phu binh,None,None
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...,None,None
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh,None,None
4,trường thptth phú bình,pk0 tk0nqth phu binh,None,None
...,...,...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun,None,None
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...,None,None
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun,None,None
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun,None,None
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun,None,None

In [19]:
df.loc[df['lower_text']=='trung tam gdnn gdtx huyen nam nhun', 'lower_normed_text'].values[0]

'tt gdnn-gdtx huyện nậm nhùn'

In [15]:
df.loc[df['lower_text']==df3.loc[0, 'lower_text'], 'normed_text'].loc[0]

'Trường THPT Phú Bình'

In [21]:
from tqdm import tqdm

for i in tqdm(range(len(df3))):
    df3.loc[i, 'normed_text'] = df.loc[df['lower_text']==df3.loc[i, 'lower_text'], 'normed_text'].values[0]
    df3.loc[i, 'lower_normed_text'] = df.loc[df['lower_text']==df3.loc[i, 'lower_text'], 'lower_normed_text'].values[0]
df3

100%|████████████████████████████████████████████████████████████████████████| 349106/349106 [2:43:47<00:00, 35.52it/s]

,lower_text,original_and_fake,normed_text,lower_normed_text
0,trường thptth phú bình,trường thptth phú bình,Trường THPT Phú Bình,trường thpt phú bình
1,trường thptth phú bình,truong thptth phu binh,Trường THPT Phú Bình,trường thpt phú bình
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...,Trường THPT Phú Bình,trường thpt phú bình
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh,Trường THPT Phú Bình,trường thpt phú bình
4,trường thptth phú bình,pk0 tk0nqth phu binh,Trường THPT Phú Bình,trường thpt phú bình
...,...,...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn

In [22]:
df3.to_csv('./data_augmented/education_train_augmented_2.csv', index=False)