In [1]:
import pandas as pd
import unidecode
from tqdm import tqdm
import re
import random

In [24]:
path = 'D:\Projects\VND_work\classification_fb_education\data_for_augmentation\education_train.csv'
df = pd.read_csv(path)
df['lower_text'] = df['text'].apply(lambda x: x.lower())
df['lower_normed_text'] = df['normed_text'].apply(lambda x: x.lower())
df

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
1,1,1143,da hoc truong trung cap quan ly nha hang khach...,trung cấp Quản trị Nhà hàng Khách sạn,da hoc truong trung cap quan ly nha hang khach...,trung cấp quản trị nhà hàng khách sạn
2,2,12978,Trường THPT Nguyễn Du - Đồng Xoài - BP,Trường THPT Nguyễn Du,trường thpt nguyễn du - đồng xoài - bp,trường thpt nguyễn du
3,3,4098,ttgdnn gdtx nam dan,TT GDNN-GDTX Nam Đàn,ttgdnn gdtx nam dan,tt gdnn-gdtx nam đàn
4,4,9602,Hoc Vien An ning,Học Viện An ninh Nhân Dân,hoc vien an ning,học viện an ninh nhân dân
...,...,...,...,...,...,...
11691,11691,13085,Trường THPT Hồng Quang Lục Yên,Trường THPT Hồng Quang,trường thpt hồng quang lục yên,trường thpt hồng quang
11692,11692,7103,truong th pho thong lê hông phong,Trường THPT chuyên Lê Hồng Phong TP.HCM,truong th pho thong lê hông phong,trường thpt chuyên lê hồng phong tp.hcm
11693,11693,1213,hue medical junior college,Cao Đẳng Y tế Huế,hue medical junior college,cao đẳng y tế huế
11694,11694,13872,Đại học Bách Khoa HCM,Trường Đại học Bách khoa - Đại học Quốc gia TP...,đại học bách khoa hcm,trường đại học bách khoa - đại học quốc gia tp...
11695,11695,2462,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun,tt gdnn-gdtx huyện nậm nhùn

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11696 entries, 0 to 11695
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         11696 non-null  int64
 1   index              11696 non-null  int64
 2   text               11696 non-null  object
 3   normed_text        11696 non-null  object
 4   lower_text         11696 non-null  object
 5   lower_normed_text  11696 non-null  object
dtypes: int64(2), object(4)
memory usage: 548.4+ KB

In [26]:
mask = df['lower_text'].apply(lambda x: 'hcm' in x)
df.loc[mask, 'lower_text']

1        da hoc truong trung cap quan ly nha hang khach...
35               đại học công nghệ thông tin thành phố hcm
109                 uef - đại học kinh tế tài chính tp.hcm
115                                             dhsp tphcm
186                                                  sphcm
                               ...
11585                            đại học công nghiệp tphcm
11615                         dh cong nghiep thuc pham hcm
11633                         ueh - đại học kinh tế tp hcm
11635                                tung hoc cdcntt tphcm
11694                                đại học bách khoa hcm
Name: lower_text, Length: 313, dtype: object

In [27]:
df['normed_text'].unique().shape

(5816,)

In [28]:
df['text'].unique().shape

(10520,)

In [29]:
df.loc[df['normed_text']=='Trường THPT Phú Bình', :]

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
8377,8377,9764,Trường THPT Phú Bình - Thái Nguyên,Trường THPT Phú Bình,trường thpt phú bình - thái nguyên,trường thpt phú bình
10513,10513,8961,Trường THPT Phú Bình - Thái Nguyên,Trường THPT Phú Bình,trường thpt phú bình - thái nguyên,trường thpt phú bình
11244,11244,2747,Trường THPT phu binh,Trường THPT Phú Bình,trường thpt phu binh,trường thpt phú bình

In [30]:
df.loc[df['normed_text']=='Trường THPT Phú Bình', :]['text'].to_list()

['Trường THPTTH Phú Bình',
 'Trường THPT Phú Bình - Thái Nguyên',
 'Trường THPT Phú Bình - Thái Nguyên',
 'Trường THPT phu binh']

In [31]:
df2 = pd.DataFrame(df['lower_text'].unique(), columns=['lower_text_unique'])
df2

                                       lower_text_unique
0                                 trường thptth phú bình
1      da hoc truong trung cap quan ly nha hang khach...
2                 trường thpt nguyễn du - đồng xoài - bp
3                                    ttgdnn gdtx nam dan
4                                       hoc vien an ning
...                                                  ...
10364                     trường thpt hồng quang lục yên
10365                  truong th pho thong lê hông phong
10366                         hue medical junior college
10367                              đại học bách khoa hcm
10368                 trung tam gdnn gdtx huyen nam nhun

[10369 rows x 1 columns]

In [32]:
results = dict() # storage

def string_punctuation(text):
    res = re.findall(r'\w+', text)
    return ' '.join(res)

def remove_accent(text):
    res = unidecode.unidecode(text)
    return string_punctuation(res)

def generate_augmentation(s, num_iters=1000):
    global results # storage
    s_no_accents = remove_accent(s).lower()
    results[s] = [s, s_no_accents]
    
    augmentation = {'truong trung hoc pho thong': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'trung hoc pho thong': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'truong thpt': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'thpt': ['thpt', 'thptth', 'tkpt', 'tthpt','pt', 'ptth', 'pho thong', 'phổ thông', 'ph0 th0ng', 'pk0 tk0nq',
                        'trung hoc pho thong', 'trung h0.c ph0 th0ng', 'trunq h0c pk0 tk0nq', 
                        'trung học phổ thông' 'truong trung hoc pho thong', 'trường trung học phổ thông', 'tru0`ng trung h0.c ph0 th0ng',
                        'tru0nq trunq h0c pk0 tk0nq', 'truog trug hoc pho thog', 'trg thpt', 'trường thpt', 'truog trug hoc fo thog',
                        'cap 3', 'cấp 3', 'c4p 3', 'pho thong trung hoc', 'ph0 th0ng trung h0c', 'pk0 tk0nq trunq h0c',
                        'phổ thông trung học', 'fo thog trug hoc','truong pho thong trung hoc', 
                        'trường phổ thông trung học', 'truog fo thog trug hoc', 'tru0ng ph0 th0ng trung h0c', 'tru0nq pk0 tk0nq trunq h0c'],
                    'high school': ['high school', 'highschool'],
                    'tp. ho chi minh': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'tp ho chi minh': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'tp hcm': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'hcm': ['thành phố hcm', 'hồ chí minh', 'tp hcm', 'tp. hcm', 'hcm' 'tp.hcm', 'tp. ho chi minh', 'tp. hồ chí minh', 'tp. ho chj mjh', "tp. h0` chj' mjnh", 
                        'tphcm', 'tp ho chi minh', 'tp ho chj mjh', "tp h0` chj' mjnh", 'tp h0 ckj mjnk', 
                        'tp hồ chí minh', 'thành phố hồ chí minh', 'thah fo ho chj mjh', "th4`nh ph0' h0` chj' mjnh", 'tk4nk pk0 h0 ckj mjnk'],
                    'truong dai hoc': ['dai hoc', 'đại học', 'daj hoc', 'dh', 'truong dai hoc', 'trường đại học', 'truong dh', 'truog daj hoc', 
                        'tru0`ng +)4j h0.c', 'tru0nq d4j h0c', '+)4j h0.c', "đại's học's", 'd4j h0c', 'trg dh', 'truog dh', 'dai hok', 'daj hok'],
                    'dai hoc': ['dai hoc', 'đại học', 'daj hoc', 'dh', 'truong dai hoc', 'trường đại học', 'truong dh', 'truog daj hoc', 
                        'tru0`ng +)4j h0.c', 'tru0nq d4j h0c', '+)4j h0.c', "đại's học's", 'd4j h0c', 'trg dh', 'truog dh', 'dai hok', 'daj hok'],
                    'truong cao dang su pham': ['cao dang su pham', 'cdsp', 'cao dag su fam', 'c40 ])4ng su ph4m', 'c40 d4nq su pk4m', 'cao đẳng sư phạm',
                        'trường cao đẳng sư phạm', 'truong cao dang su pham', 'trg cdsp', 'truog cdsp', 'truog cao dag su fam', 
                        'tru0`ng c40 +)4ng su ph4m', 'tru0nq c40 d4nq su pk4m'],
                    'cao dang su pham': ['cao dang su pham', 'cdsp', 'cao dag su fam', 'c40 ])4ng su ph4m', 'c40 d4nq su pk4m', 'cao đẳng sư phạm',
                        'trường cao đẳng sư phạm', 'truong cao dang su pham', 'trg cdsp', 'truog cdsp', 'truog cao dag su fam', 
                        'tru0`ng c40 +)4ng su ph4m', 'tru0nq c40 d4nq su pk4m'],
                    'truong cao dang': ['cao dang', 'cao đẳng', 'cao dag', 'c40 +)4ng', 'c40 d4nq', 'cd', 'truong cao dang', 'trường cao đẳng', 'truog cao dag', 
                        'tru0`ng c40 +)4ng', 'tru0nq c40 d4nq'],
                    'cao dang': ['cao dang', 'cao đẳng', 'cao dag', 'c40 +)4ng', 'c40 d4nq', 'cd', 'truong cao dang', 'trường cao đẳng', 'truog cao dag', 
                        'tru0`ng c40 +)4ng', 'tru0nq c40 d4nq'],
                    'hoc vien': ['hoc vien', 'học viện', 'hoc vjen', 'h0.c vjện', 'h0c vj3n'],
                    'dan lap': ['dan lap', 'dân lập' 'dl', 'd4n l4p'],
                    'ptdt': ['ptdt nt', 'ptdtnt', 'pho thong dan toc noi tru', 'phổ thông dân tộc nội trú', 'ptdt noj tru' ,'fo thog dan toc noj tru',
                        'pk0 tk0nq d4n t0c n0j tru'],
                    'trung tam giao duc thuong xuyen': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'giao duc thuong xuyen': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'trung tam gdtx': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'gdtx': ['gdtx', 'ttgdtx', 'tt gdtx', 'ttgdnn gdtx' 'giao duc thuong xuyen', 'giáo dục thường xuyên', 'jao duc thuog xyen',
                        'trung tam gdtx', 'trung tâm gdtx', 'qj40 duc tku0nq xuy3n', 'trug tam jao duc thuog xyen', "trung t4m gj4'0 ])u.c thu0`ng xuij3n",
                        'trung tam giao duc thuong xuyen', 'trung tâm giáo dục thường xuyên', 'trunq t4m qj40 duc tku0nq xuy3n', 'trung tam gdnn gdtx',
                        'gdnn gdtx', 'trug tam gdtx', 'trunq t4m gdtx', 'trunq t4m gdnn gdtx', 'trunq t4m gdnn gdtx'],
                    'dai hoc bach khoa ha noi': ['dai hoc bach khoa ha noi', 'đại học bách khoa hà nội', 'dhbkhn', 'dh bkhn', 
                        'daj hoc bax koa ha noj', "+)4j h0.c |34'ch kh04 h4` n0.j", "đại's học's bách's khoa's hà's nội's",
                        'd4j h0c b4ck kh04 h4 n0j', 'dh bach khoa hn', 'dh bach khoa ha noi', 'dhbk ha noi', 'dhbk hn', 'bkhn',
                        'bk ha noi'],
                    'dh bach khoa ha noi': ['dai hoc bach khoa ha noi', 'đại học bách khoa hà nội', 'dhbkhn', 'dh bkhn', 
                        'daj hoc bax koa ha noj', "+)4j h0.c |34'ch kh04 h4` n0.j", "đại's học's bách's khoa's hà's nội's",
                        'd4j h0c b4ck kh04 h4 n0j', 'dh bach khoa hn', 'dh bach khoa ha noi', 'dhbk ha noi', 'dhbk hn', 'bkhn',
                        'bk ha noi'],
                    'bach khoa': ['bach khoa', 'bk', 'bách khoa', "bách's khoa's", 'b4ck kh04', 'back khoa'],
                    'hoc vien ngan hang': ['hoc vien ngan hang', 'học viện ngân hàng', 'hvnh'],
                    'giao thong van tai': ['giao thong van tai', 'giao thông vận tải', 'gtvt', 'jao thog van taj', 'gj40 th0ng v4n t4j',
                        'qj40 tk0nq v4n t4j', 'giao thong vt'],
                    'truong dai hoc su pham': ['truong dai hoc su pham', 'trường đại học sư phạm', 'dhsp', 'dai hoc su pham',
                        'daj hoc su pham', 'truog daj hoc su fam', 'tru0`ng +)4j h0.c su ph4m', 'tru0nq d4j h0c su pk4m',
                        'trg dhsp'],
                    'dai hoc su pham': ['truong dai hoc su pham', 'trường đại học sư phạm', 'dhsp', 'dai hoc su pham',
                        'daj hoc su pham', 'truog daj hoc su fam', 'tru0`ng +)4j h0.c su ph4m', 'tru0nq d4j h0c su pk4m',
                        'trg dhsp']}

    for _ in range(num_iters):
        for k in augmentation.keys():
            if k in s_no_accents:
                index = s_no_accents.find(k)
                s_tmp = s_no_accents.replace(k, '', 1) # replace the first occurence
                n = random.randrange(len(augmentation[k]))
                insert_part = augmentation[k][n]
                one_case = s_tmp[:index] + insert_part + s_tmp[index:]
                if one_case not in results[s]:  
                    results[s].append(one_case)

In [33]:
for i in tqdm(range(len(df2)), desc="Augmentation"):
    text = df2['lower_text_unique'][i]
    generate_augmentation(text, num_iters=1000)

Augmentation: 100%|█████████████████████████████████████████████████████████████| 10369/10369 [01:25<00:00, 120.58it/s]

In [34]:
df2['augmented_name'] = df2['lower_text_unique'].apply(lambda x: results[x])
df2['count'] = df2['lower_text_unique'].apply(lambda x: len(results[x]))
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"[trường thptth phú bình, truong thptth phu bin...",68
1,da hoc truong trung cap quan ly nha hang khach...,[da hoc truong trung cap quan ly nha hang khac...,38
2,trường thpt nguyễn du - đồng xoài - bp,"[trường thpt nguyễn du - đồng xoài - bp, truon...",68
3,ttgdnn gdtx nam dan,"[ttgdnn gdtx nam dan, ttgdnn gdtx nam dan, ttg...",20
4,hoc vien an ning,"[hoc vien an ning, hoc vien an ning, học viện ...",6
...,...,...,...
10364,trường thpt hồng quang lục yên,"[trường thpt hồng quang lục yên, truong thpt h...",68
10365,truong th pho thong lê hông phong,"[truong th pho thong lê hông phong, truong th ...",2
10366,hue medical junior college,"[hue medical junior college, hue medical junio...",2
10367,đại học bách khoa hcm,"[đại học bách khoa hcm, dai hoc bach khoa hcm,...",42
10368,trung tam gdnn gdtx huyen nam nhun,"[trung tam gdnn gdtx huyen nam nhun, trung tam...",20

In [35]:
df2.loc[0, 'lower_text_unique']

'trường thptth phú bình'

In [36]:
for i in tqdm(range(len(df2))):
    content = df2.loc[i, 'lower_text_unique']
    original_list = df.loc[df['lower_text']==content, :]['text'].to_list()
    df2.loc[i, 'augmented_name'].extend(original_list)
    df2.loc[i, 'count'] += len(original_list)

100%|███████████████████████████████████████████████████████████████████████████| 10369/10369 [00:28<00:00, 362.93it/s]

In [37]:
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"[trường thptth phú bình, truong thptth phu bin...",69
1,da hoc truong trung cap quan ly nha hang khach...,[da hoc truong trung cap quan ly nha hang khac...,39
2,trường thpt nguyễn du - đồng xoài - bp,"[trường thpt nguyễn du - đồng xoài - bp, truon...",69
3,ttgdnn gdtx nam dan,"[ttgdnn gdtx nam dan, ttgdnn gdtx nam dan, ttg...",21
4,hoc vien an ning,"[hoc vien an ning, hoc vien an ning, học viện ...",7
...,...,...,...
10364,trường thpt hồng quang lục yên,"[trường thpt hồng quang lục yên, truong thpt h...",69
10365,truong th pho thong lê hông phong,"[truong th pho thong lê hông phong, truong th ...",3
10366,hue medical junior college,"[hue medical junior college, hue medical junio...",3
10367,đại học bách khoa hcm,"[đại học bách khoa hcm, dai hoc bach khoa hcm,...",43
10368,trung tam gdnn gdtx huyen nam nhun,"[trung tam gdnn gdtx huyen nam nhun, trung tam...",21

In [38]:
df2['count'].sum()

349106

In [39]:
n_rows = df2['count'].sum()

n_columns = 2
df3 = pd.DataFrame(index=range(n_rows), columns=range(n_columns))
i = 0
df3

          0    1
0       NaN  NaN
1       NaN  NaN
2       NaN  NaN
3       NaN  NaN
4       NaN  NaN
...     ...  ...
349101  NaN  NaN
349102  NaN  NaN
349103  NaN  NaN
349104  NaN  NaN
349105  NaN  NaN

[349106 rows x 2 columns]

In [40]:
for k, v in tqdm(results.items(), desc='Flattening'):
    for element in v:
        df3[0][i] = k
        df3[1][i] = element
        i += 1

Flattening:   1%|▌                                                                  | 80/10369 [00:15<32:54,  5.21it/s]

KeyboardInterrupt:

In [69]:
df3

,0,1
0,Trường THPT Phú Bình,Trường THPT Phú Bình
1,Trường THPT Phú Bình,truong thpt phu binh
2,Trường THPT Phú Bình,truong cap 3 phu binh
3,Trường THPT Phú Bình,truong trung hoc pho thong phu binh
4,Trường THPT Phú Bình,truong truong pho thong trung hoc phu binh
...,...,...
71054,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam gdtx huyen nam nhun
71055,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam giao duc thuong xuyen huyen ...
71056,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn giao duc thuong xuyen huyen nam nhun
71057,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn ttgdtx huyen nam nhun
71058,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun

In [70]:
df3.columns = ['normed_text', 'original_and_fake']
df3

,normed_text,original_and_fake
0,Trường THPT Phú Bình,Trường THPT Phú Bình
1,Trường THPT Phú Bình,truong thpt phu binh
2,Trường THPT Phú Bình,truong cap 3 phu binh
3,Trường THPT Phú Bình,truong trung hoc pho thong phu binh
4,Trường THPT Phú Bình,truong truong pho thong trung hoc phu binh
...,...,...
71054,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam gdtx huyen nam nhun
71055,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn trung tam giao duc thuong xuyen huyen ...
71056,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn giao duc thuong xuyen huyen nam nhun
71057,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn ttgdtx huyen nam nhun
71058,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun

## Adding normed_text and lower_normed_text

In [6]:
import pandas as pd

df = pd.read_csv('./data_for_augmentation/education_train.csv')
df['lower_text'] = df['text'].apply(lambda x: x.lower())
df['lower_normed_text'] = df['normed_text'].apply(lambda x: x.lower())
df

,Unnamed: 0,index,text,normed_text,lower_text,lower_normed_text
0,0,13342,Trường THPTTH Phú Bình,Trường THPT Phú Bình,trường thptth phú bình,trường thpt phú bình
1,1,1143,da hoc truong trung cap quan ly nha hang khach...,trung cấp Quản trị Nhà hàng Khách sạn,da hoc truong trung cap quan ly nha hang khach...,trung cấp quản trị nhà hàng khách sạn
2,2,12978,Trường THPT Nguyễn Du - Đồng Xoài - BP,Trường THPT Nguyễn Du,trường thpt nguyễn du - đồng xoài - bp,trường thpt nguyễn du
3,3,4098,ttgdnn gdtx nam dan,TT GDNN-GDTX Nam Đàn,ttgdnn gdtx nam dan,tt gdnn-gdtx nam đàn
4,4,9602,Hoc Vien An ning,Học Viện An ninh Nhân Dân,hoc vien an ning,học viện an ninh nhân dân
...,...,...,...,...,...,...
11691,11691,13085,Trường THPT Hồng Quang Lục Yên,Trường THPT Hồng Quang,trường thpt hồng quang lục yên,trường thpt hồng quang
11692,11692,7103,truong th pho thong lê hông phong,Trường THPT chuyên Lê Hồng Phong TP.HCM,truong th pho thong lê hông phong,trường thpt chuyên lê hồng phong tp.hcm
11693,11693,1213,hue medical junior college,Cao Đẳng Y tế Huế,hue medical junior college,cao đẳng y tế huế
11694,11694,13872,Đại học Bách Khoa HCM,Trường Đại học Bách khoa - Đại học Quốc gia TP...,đại học bách khoa hcm,trường đại học bách khoa - đại học quốc gia tp...
11695,11695,2462,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,trung tam gdnn gdtx huyen nam nhun,tt gdnn-gdtx huyện nậm nhùn

In [7]:
df2 = pd.read_csv('./data_augmented/education_train_count.csv')
df2

,lower_text_unique,augmented_name,count
0,trường thptth phú bình,"['trường thptth phú bình', 'truong thptth phu ...",69
1,da hoc truong trung cap quan ly nha hang khach...,['da hoc truong trung cap quan ly nha hang kha...,39
2,trường thpt nguyễn du - đồng xoài - bp,"['trường thpt nguyễn du - đồng xoài - bp', 'tr...",69
3,ttgdnn gdtx nam dan,"['ttgdnn gdtx nam dan', 'ttgdnn gdtx nam dan',...",21
4,hoc vien an ning,"['hoc vien an ning', 'hoc vien an ning', 'h0.c...",7
...,...,...,...
10364,trường thpt hồng quang lục yên,"['trường thpt hồng quang lục yên', 'truong thp...",69
10365,truong th pho thong lê hông phong,"['truong th pho thong lê hông phong', 'truong ...",3
10366,hue medical junior college,"['hue medical junior college', 'hue medical ju...",3
10367,đại học bách khoa hcm,"['đại học bách khoa hcm', 'dai hoc bach khoa h...",43
10368,trung tam gdnn gdtx huyen nam nhun,"['trung tam gdnn gdtx huyen nam nhun', 'trung ...",21

In [8]:
df3 = pd.read_csv('./data_augmented/education_train_augmented.csv')
df3.columns = ['lower_text', 'original_and_fake']
df3

,lower_text,original_and_fake
0,trường thptth phú bình,trường thptth phú bình
1,trường thptth phú bình,truong thptth phu binh
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh
4,trường thptth phú bình,pk0 tk0nqth phu binh
...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun

In [9]:
df3['normed_text'] = None
df3['lower_normed_text'] = None
df3

,lower_text,original_and_fake,normed_text,lower_normed_text
0,trường thptth phú bình,trường thptth phú bình,None,None
1,trường thptth phú bình,truong thptth phu binh,None,None
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...,None,None
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh,None,None
4,trường thptth phú bình,pk0 tk0nqth phu binh,None,None
...,...,...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun,None,None
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...,None,None
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun,None,None
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun,None,None
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun,None,None

In [19]:
df.loc[df['lower_text']=='trung tam gdnn gdtx huyen nam nhun', 'lower_normed_text'].values[0]

'tt gdnn-gdtx huyện nậm nhùn'

In [15]:
df.loc[df['lower_text']==df3.loc[0, 'lower_text'], 'normed_text'].loc[0]

'Trường THPT Phú Bình'

In [21]:
from tqdm import tqdm

for i in tqdm(range(len(df3))):
    df3.loc[i, 'normed_text'] = df.loc[df['lower_text']==df3.loc[i, 'lower_text'], 'normed_text'].values[0]
    df3.loc[i, 'lower_normed_text'] = df.loc[df['lower_text']==df3.loc[i, 'lower_text'], 'lower_normed_text'].values[0]
df3

100%|████████████████████████████████████████████████████████████████████████| 349106/349106 [2:43:47<00:00, 35.52it/s]

,lower_text,original_and_fake,normed_text,lower_normed_text
0,trường thptth phú bình,trường thptth phú bình,Trường THPT Phú Bình,trường thpt phú bình
1,trường thptth phú bình,truong thptth phu binh,Trường THPT Phú Bình,trường thpt phú bình
2,trường thptth phú bình,trung học phổ thôngtruong trung hoc pho thongt...,Trường THPT Phú Bình,trường thpt phú bình
3,trường thptth phú bình,truong truong pho thong trung hocth phu binh,Trường THPT Phú Bình,trường thpt phú bình
4,trường thptth phú bình,pk0 tk0nqth phu binh,Trường THPT Phú Bình,trường thpt phú bình
...,...,...,...,...
349101,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trug tam gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349102,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam giao duc thuong xuyen...,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349103,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349104,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn trunq t4m gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn
349105,trung tam gdnn gdtx huyen nam nhun,trung tam gdnn gdtx huyen nam nhun,TT GDNN-GDTX huyện Nậm Nhùn,tt gdnn-gdtx huyện nậm nhùn

In [22]:
df3.to_csv('./data_augmented/education_train_augmented_2.csv', index=False)

## Test data

In [29]:
df4 = pd.read_csv('./data_for_augmentation/education_test.csv')
del df4['Unnamed: 0']
del df4['index']
df4

                                      text                      normed_text
0               Trường THPT Phan Ngọc Hiển        Trường THPT Phan Bội Châu
1            truong Trường THPT le quy don           Trường THPT Lê Quý Đôn
2                       Harvert University                 Đại học Harvard
3     Trường THPTTH Hoàng Diệu - Sóc Trăng           Trường THPT Hoàng Diệu
4               daj h0c kjnh te' qu0c' dan  Trường Đại Học Kinh Tế Quốc Dân
...                                    ...                              ...
2920                        TH Bời Lời Hai    Trường tiểu học Bời Lời 2
2921                       TT GDTX kim son                  TT GDTX Kim Sơn
2922            trương Trường THPT tu ngia        Trường THPT số 1 Tư Nghĩa
2923         Đại hoc kinh kế quốc quốc dân  Trường Đại Học Kinh Tế Quốc Dân
2924                                   HAU         Đại Học Kiến Trúc Hà Nội

[2925 rows x 2 columns]

In [30]:
df4['lower_text'] = df4['text'].apply(lambda x: x.lower())
df4['lower_normed_text'] = df4['normed_text'].apply(lambda x: x.lower())
df4

,text,normed_text,lower_text,lower_normed_text
0,Trường THPT Phan Ngọc Hiển,Trường THPT Phan Bội Châu,trường thpt phan ngọc hiển,trường thpt phan bội châu
1,truong Trường THPT le quy don,Trường THPT Lê Quý Đôn,truong trường thpt le quy don,trường thpt lê quý đôn
2,Harvert University,Đại học Harvard,harvert university,đại học harvard
3,Trường THPTTH Hoàng Diệu - Sóc Trăng,Trường THPT Hoàng Diệu,trường thptth hoàng diệu - sóc trăng,trường thpt hoàng diệu
4,daj h0c kjnh te' qu0c' dan,Trường Đại Học Kinh Tế Quốc Dân,daj h0c kjnh te' qu0c' dan,trường đại học kinh tế quốc dân
...,...,...,...,...
2920,TH Bời Lời Hai,Trường tiểu học Bời Lời 2,th bời lời hai,trường tiểu học bời lời 2
2921,TT GDTX kim son,TT GDTX Kim Sơn,tt gdtx kim son,tt gdtx kim sơn
2922,trương Trường THPT tu ngia,Trường THPT số 1 Tư Nghĩa,trương trường thpt tu ngia,trường thpt số 1 tư nghĩa
2923,Đại hoc kinh kế quốc quốc dân,Trường Đại Học Kinh Tế Quốc Dân,đại hoc kinh kế quốc quốc dân,trường đại học kinh tế quốc dân
2924,HAU,Đại Học Kiến Trúc Hà Nội,hau,đại học kiến trúc hà nội

In [31]:
df4.to_csv('./data_augmented/education_test_formatted.csv', index=False)

## Labelling data, file uni_combining.csv

In [1]:
import pandas as pd
import re

df = pd.read_csv('./data_for_labelling/uni_combining.csv', index_col=0)
# df = df[15000:30000]
df

,text,normed_text
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng
...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương

In [2]:
df['normed_text_2'] = df['normed_text']
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Trường Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Trường Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,Trường THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,Trường THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,Trường THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,Trường THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,Trường THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,Trường THPT Đinh Chương Dương

In [3]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: re.sub('^[tTrRưƯờỜnNgG]*', '', x, 1))
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [4]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [5]:
s = 'Trường Đại học Vietnam'
pattern = '[àáãạảăắằẳẵặâấầẩẫậèéẹẻẽêềếểễệđìíĩỉịòóõọỏôốồổỗộơớờởỡợùúũụủưứừửữựỳỵỷỹýÀÁÃẠẢĂẮẰẲẴẶÂẤẦẨẪẬÈÉẸẺẼÊỀẾỂỄỆĐÌÍĨỈỊÒÓÕỌỎÔỐỒỔỖỘƠỚỜỞỠỢÙÚŨỤỦƯỨỪỬỮỰỲỴỶỸÝ]'
print(re.search(pattern, s))

<re.Match object; span=(2, 3), match='ư'>

In [6]:
def have_accents(s):
    pattern = '[àáãạảăắằẳẵặâấầẩẫậèéẹẻẽêềếểễệđìíĩỉịòóõọỏôốồổỗộơớờởỡợùúũụủưứừửữựỳỵỷỹýÀÁÃẠẢĂẮẰẲẴẶÂẤẦẨẪẬÈÉẸẺẼÊỀẾỂỄỆĐÌÍĨỈỊÒÓÕỌỎÔỐỒỔỖỘƠỚỜỞỠỢÙÚŨỤỦƯỨỪỬỮỰỲỴỶỸÝ]'
    if re.search(pattern, s):
        return True
    else:
        return False

mask = df['normed_text_2'].apply(lambda x: have_accents(x))
mask

0        True
1        True
2        True
3        True
4        True
         ...
38160    True
38161    True
38162    True
38163    True
38164    True
Name: normed_text_2, Length: 38165, dtype: bool

In [7]:
df = df.loc[mask, :]
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [8]:
def is_valid(s):
    if len(s) <= 4:
        return False
    else:
        return True
    
mask = df['normed_text_2'].apply(lambda x: is_valid(x))
mask

0        True
1        True
2        True
3        True
4        True
         ...
38160    True
38161    True
38162    True
38163    True
38164    True
Name: normed_text_2, Length: 36776, dtype: bool

In [9]:
df = df.loc[mask, :]
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [10]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ờng', '', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-10-c0e863059dee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ờng', '', 1))
<ipython-input-10-c0e863059dee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [11]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung tâm', '', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-11-0f07118182cf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung tâm', '', 1))
<ipython-input-11-0f07118182cf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [12]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('UNG TÂM', '', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-12-66622bf587de>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('UNG TÂM', '', 1))
<ipython-input-12-66622bf587de>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [13]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung Tâm', '', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-13-0ef493712038>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung Tâm', '', 1))
<ipython-input-13-0ef493712038>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [14]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('HPT', 'THPT', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-14-c0defd016e8c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('HPT', 'THPT', 1))
<ipython-input-14-c0defd016e8c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,TTHPT Đinh Chương Dương

In [15]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('HCS', 'THCS', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-15-f0ed50481adf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('HCS', 'THCS', 1))
<ipython-input-15-f0ed50481adf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,TTHCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,TTHCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,TTHCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,TTHPT Đinh Chương Dương

In [16]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('TTHCS', 'THCS', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-16-9eb7f2e8f449>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('TTHCS', 'THCS', 1))
<ipython-input-16-9eb7f2e8f449>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,TTHPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,TTHPT Đinh Chương Dương

In [17]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('TTHPT', 'THPT', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-17-43b08c132781>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('TTHPT', 'THPT', 1))
<ipython-input-17-43b08c132781>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
38160,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
38161,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
38162,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
38163,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
38164,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [18]:
s = 'THCS và THPT Tân Lộc (điểm B)'
pattern = '(?P<text>.*)(:?\(.*)'

re.findall(pattern, s)[0][0]

'THCS và THPT Tân Lộc '

In [67]:
def handle_parenthesis(s):
    pattern = '(?P<text>.*)(:?\(.*)'
    if re.findall(pattern, s):
        return re.findall(pattern, s)[0][0]
    return s

df['normed_text_2'] = df['normed_text_2'].apply(lambda x: handle_parenthesis(x))
df

<ipython-input-67-cf430ff46217>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: handle_parenthesis(x))

,text,normed_text,normed_text_2
15000,CD Cong nghe va Kinh te Cong nghiep,Trường Cao đẳng Công nghệ và Kinh tế Công nghiệp,Cao đẳng Công nghệ và Kinh tế Công nghiệp
15001,THPT Le Quy Don Hai Phong,Trường THPT Lê Quý Đôn,THPT Lê Quý Đôn
15002,THCS Phú Thạnh,Trường THCS Phú Thạnh,THCS Phú Thạnh
15003,Trường THCS Phan Bội Châu - Hải Phòng,Trường THCS Phan Bội Châu,THCS Phan Bội Châu
15004,"THCS Phan Bội Châu, Quận Hồng Bàng, Hải Phòng",Trường THCS Phan Bội Châu,THCS Phan Bội Châu
...,...,...,...
29995,Su pham mam n0n,Cao Đẳng Sư phạm Mầm non Trung Ương,Cao Đẳng Sư phạm Mầm non Trung Ương
29996,Vung Cao Viet Bac,Trường THPT Vùng cao Việt Bắc,THPT Vùng cao Việt Bắc
29997,Trường THPT hung nhan-hung ha-thai binh,Trường THPT Hưng Nhân,THPT Hưng Nhân
29998,Trường THPT Chi Lăng DALAT,Trường THCS-THPT Chi Lăng,THCS-THPT Chi Lăng
29999,HVNG,Học viện Ngoại giao,Học viện Ngoại giao

In [69]:
def handle_parenthesis(s):
    pattern = '(?P<text>.*)(:?\(.*)'
    if re.findall(pattern, s):
        return re.findall(pattern, s)[0][0]
    return s

df['normed_text_2'] = df['normed_text_2'].apply(lambda x: handle_parenthesis(x))
df

<ipython-input-69-cf430ff46217>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: handle_parenthesis(x))

,text,normed_text,normed_text_2
15000,CD Cong nghe va Kinh te Cong nghiep,Trường Cao đẳng Công nghệ và Kinh tế Công nghiệp,Cao đẳng Công nghệ và Kinh tế Công nghiệp
15001,THPT Le Quy Don Hai Phong,Trường THPT Lê Quý Đôn,THPT Lê Quý Đôn
15002,THCS Phú Thạnh,Trường THCS Phú Thạnh,THCS Phú Thạnh
15003,Trường THCS Phan Bội Châu - Hải Phòng,Trường THCS Phan Bội Châu,THCS Phan Bội Châu
15004,"THCS Phan Bội Châu, Quận Hồng Bàng, Hải Phòng",Trường THCS Phan Bội Châu,THCS Phan Bội Châu
...,...,...,...
29995,Su pham mam n0n,Cao Đẳng Sư phạm Mầm non Trung Ương,Cao Đẳng Sư phạm Mầm non Trung Ương
29996,Vung Cao Viet Bac,Trường THPT Vùng cao Việt Bắc,THPT Vùng cao Việt Bắc
29997,Trường THPT hung nhan-hung ha-thai binh,Trường THPT Hưng Nhân,THPT Hưng Nhân
29998,Trường THPT Chi Lăng DALAT,Trường THCS-THPT Chi Lăng,THCS-THPT Chi Lăng
29999,HVNG,Học viện Ngoại giao,Học viện Ngoại giao

In [74]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

<ipython-input-74-abdd0425fe01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())

,text,normed_text,normed_text_2
15000,CD Cong nghe va Kinh te Cong nghiep,Trường Cao đẳng Công nghệ và Kinh tế Công nghiệp,Cao đẳng Công nghệ và Kinh tế Công nghiệp
15001,THPT Le Quy Don Hai Phong,Trường THPT Lê Quý Đôn,THPT Lê Quý Đôn
15002,THCS Phú Thạnh,Trường THCS Phú Thạnh,THCS Phú Thạnh
15003,Trường THCS Phan Bội Châu - Hải Phòng,Trường THCS Phan Bội Châu,THCS Phan Bội Châu
15004,"THCS Phan Bội Châu, Quận Hồng Bàng, Hải Phòng",Trường THCS Phan Bội Châu,THCS Phan Bội Châu
...,...,...,...
29995,Su pham mam n0n,Cao Đẳng Sư phạm Mầm non Trung Ương,Cao Đẳng Sư phạm Mầm non Trung Ương
29996,Vung Cao Viet Bac,Trường THPT Vùng cao Việt Bắc,THPT Vùng cao Việt Bắc
29997,Trường THPT hung nhan-hung ha-thai binh,Trường THPT Hưng Nhân,THPT Hưng Nhân
29998,Trường THPT Chi Lăng DALAT,Trường THCS-THPT Chi Lăng,THCS-THPT Chi Lăng
29999,HVNG,Học viện Ngoại giao,Học viện Ngoại giao

In [75]:
df.to_csv('./data_for_labelling/son_15k_30k.csv', index=False)

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('./data_for_labelling/uni_combining_cleaned.csv')
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [3]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: re.sub('^C\ ', 'TC ', x, 1))
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [5]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('Trung Cấp', 'TC', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [6]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('trung cấp', 'TC', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [7]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('Trung cấp', 'TC', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [8]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung cấp', 'TC', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [9]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.replace('ung Cấp', 'TC', 1))
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: x.strip())
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [10]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: re.sub('^DNN', 'GDNN', x, 1))
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [11]:
df['normed_text_2'] = df['normed_text_2'].apply(lambda x: re.sub('^DTX', 'GDTX', x, 1))
df

,text,normed_text,normed_text_2
0,Trường tiểu học Trần Quang Vinh,Trường Tiểu học Trần Quang Vinh,Tiểu học Trần Quang Vinh
1,"Đại Học Văn Hóa Hà Nội,418 Đê La Thành",Trường Đại học Văn hóa Hà Nội,Đại học Văn hóa Hà Nội
2,Foreign Trade University HCMC,Trường Đại học Ngoại thương Cơ sở II - TP. HCM,Đại học Ngoại thương Cơ sở II - TP. HCM
3,Truong THCS phan dinh phung,Trường THCS Phan Đình Phùng,THCS Phan Đình Phùng
4,THPT Nghĩa Hưng C-Nam Định,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
...,...,...,...
36768,Từng học tại trường THCS̉ Liêm Tiết,Trường THCS Liêm Tiết,THCS Liêm Tiết
36769,pho thong nghia hung c,Trường THPT C Nghĩa Hưng,THPT C Nghĩa Hưng
36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh
36771,Trường THCS Yên Lạc,Trường THCS Yên Lạc,THCS Yên Lạc
36772,Trường thật dinh chuong Dương hau loc,Trường THPT Đinh Chương Dương,THPT Đinh Chương Dương

In [12]:
df.to_csv('./data_for_labelling/uni_combining_cleaned_2.csv', index=False)

## Normalizing

In [34]:
import pandas as pd
import numpy as np
import re

In [35]:
df = pd.read_excel('./data_for_labelling/Book1.xlsx')
df

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
4,17570,trần bình trọng,Trần Bình Trọng,x
...,...,...,...,...
14995,21507,trung cap vien sot ret kst ct quy nhon,Viện Sốt Rét Ký Sinh Trùng Côn Trùng Quy Nhơn,x
14996,28178,Institute of Mathematics,Viện Toán học Việt Nam,x
14997,27712,viện y học cổ truyền quân đội,Viện Y Học Cổ Truyền Quân Đội,x
14998,29665,Học viện Phòng không - Quân chủng Phòng k...,Viện Y học Phòng không - Không quân,x
14999,19455,Vua Đầu Bếp,Vua đầu bếp,x

In [36]:
df = df.loc[df['clean_text']!='x', :]
df

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,Đại Học Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,Đại Học Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [37]:
s = 'Đại học Bách Khoa - Đại học Đà Nẵng'

s.replace('Đại học', 'ĐH')

'ĐH Bách Khoa - ĐH Đà Nẵng'

In [38]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Cao Đẳng', 'CĐ'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Cao đẳng', 'CĐ'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('cao đẳng', 'CĐ'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('CAO ĐẲNG', 'CĐ'))
df

<ipython-input-38-58732d243dd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Cao Đẳng', 'CĐ'))
<ipython-input-38-58732d243dd4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Cao đẳng', 'CĐ'))
<ipython-input-38-58732d243dd4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('cao đẳng', 'CĐ'))
<ipython-input-38-58732d243dd4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('CAO ĐẲNG', 'CĐ'))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,Đại Học Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,Đại Học Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [39]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Đại học', 'ĐH'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Đại Học', 'ĐH'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('ĐẠI HỌC', 'ĐH'))
df

<ipython-input-39-0e84c0bac281>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Đại học', 'ĐH'))
<ipython-input-39-0e84c0bac281>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Đại Học', 'ĐH'))
<ipython-input-39-0e84c0bac281>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('ĐẠI HỌC', 'ĐH'))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [40]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học viện', 'HV'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học Viện', 'HV'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('HỌC VIỆN', 'HV'))
df

<ipython-input-40-bfa643e34070>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học viện', 'HV'))
<ipython-input-40-bfa643e34070>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học Viện', 'HV'))
<ipython-input-40-bfa643e34070>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('HỌC VIỆN', 'HV'))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [41]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS & THPT', 'THCS-THPT', 1))
df

<ipython-input-41-a6f4e60c4061>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS & THPT', 'THCS-THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [42]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS và THPT', 'THCS-THPT', 1))
df

<ipython-input-42-219075736d58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS và THPT', 'THCS-THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [43]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS&THPT', 'THCS-THPT', 1))
df

<ipython-input-43-2c208e1aa623>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS&THPT', 'THCS-THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [44]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Thcs', 'THCS', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Thpt', 'THPT', 1))
df

<ipython-input-44-6421dbc13f25>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Thcs', 'THCS', 1))
<ipython-input-44-6421dbc13f25>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Thpt', 'THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [45]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc nội trú', 'PT-DTNT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc Nội trú', 'PT-DTNT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT dân tộc nội trú', 'PT-DTNT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân Tộc Nội Trú', 'PT-DTNT', 1))
df

<ipython-input-45-486146f7652e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc nội trú', 'PT-DTNT', 1))
<ipython-input-45-486146f7652e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc Nội trú', 'PT-DTNT', 1))
<ipython-input-45-486146f7652e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT dân tộc nội trú', 'PT-DTNT', 1))
<ipython-input-45-486146f7652e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân Tộc Nội Trú', 'PT-DTNT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [46]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT DTNT', 'PT-DTNT', 1))
df

<ipython-input-46-8381ba659e6e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT DTNT', 'PT-DTNT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [47]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung Học Phổ Thông', 'THPT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học phổ thông', 'THPT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học Phổ thông', 'THPT', 1))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học Phổ thông', 'THPT', 1))
df

<ipython-input-47-c48e19031558>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung Học Phổ Thông', 'THPT', 1))
<ipython-input-47-c48e19031558>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học phổ thông', 'THPT', 1))
<ipython-input-47-c48e19031558>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học Phổ thông', 'THPT', 1))
<ipython-input-47-c48e19031558>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học Phổ thông', 'THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [48]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trường THPT', 'THPT', 1))
df

<ipython-input-48-3deff0a2c06a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trường THPT', 'THPT', 1))

,Column1,text,normed_text,clean_text
0,25384,tr cd nghe ninh thuan,Tr. CĐ nghề Ninh Thuận,CĐ nghề Ninh Thuận
1,28645,Trường dạy nghề số 10 BQP,101 Tô Vĩnh Diện - Thi Bằng Lái Xe - Trường Tr...,TC Nghề Số 10
2,19512,Trường Trung Học Phổ Thông Vân Tảo,2 Trường THPT Vân Tảo,THPT Vân Tảo
3,27596,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất,Trại Giam Huyện Thống Nhất
15,25771,nang khieu tdtt,Năng khiếu TDTT,Năng khiếu TDTT
...,...,...,...,...
14970,15661,"Trường THPT Lý Tự Trọng, Bình Định",Tr­ường THPT Lý Tự Trọng,THPT Lý Tự Trọng
14982,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk
14987,20588,HOU,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14988,20864,Viện Đại Học Mở Hà Nội,Viện Đại Học Mở Hà Nội,ĐH Mở Hà Nội
14994,16908,"Viện Việt - Anh, Đại học Đà Nẵng","Viện Nghiên cứu và Đào tạo Việt - Anh, Đại học...",ĐH Đà Nẵng

In [49]:
df.to_csv('./data_for_labelling/son_cleaned_15k_30k.csv', index=False)

## 2nd Normalizing

In [5]:
import pandas as pd
import re

In [6]:
df = pd.read_excel('./data_for_labelling/Book1_cleaned.xlsx')
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX tỉnh Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [7]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Huyện ', ''))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('huyện ', ''))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('HUYỆN ', ''))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX tỉnh Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [14]:
s = 'DN quận Tân Bình\nGDNN VÀ GDTX Quận Gò Vấp\nGDNN-GDTX Quận Thủ Đức\nGDTX quận 3\nTC KTKT Quận 12'
pattern = '(.+)(?:[qQ]uận\ )([A-Za-z].+)'

re.findall(pattern, s)
for item in re.finditer(pattern, s):
    if item:
        print(item.group(1) + item.group(2))

DN Tân Bình
GDNN VÀ GDTX Gò Vấp
GDNN-GDTX Thủ Đức

In [15]:
def remove_quan(s):
    pattern = '(.+)(?:[qQ]uận\ )([A-Za-z].+)'
    for item in re.finditer(pattern, s):
        if item:
            return item.group(1) + item.group(2)
    return s

df['clean_text'] = df['clean_text'].apply(lambda x: remove_quan(x))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX tỉnh Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [16]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('tỉnh ', ''))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Tỉnh ', ''))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [17]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('PT-DTNT THCS', 'THCS-THPT DTNT'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('PT-DTNT THCS-THPT', 'THCS-THPT DTNT'))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [18]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('PT-DTNT THPT', 'THPT DTNT'))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [19]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('PT-DTNT', 'THPT DTNT'))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,20033,truong trung hoc Thuc hanh Sai Gon,Trường trung học Thực Hành Sài Gòn,trung học Thực Hành Sài Gòn
12779,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [20]:
df.to_csv('./data_for_labelling/son_20210914.csv', index=False)

In [21]:
df = pd.read_csv('./data_for_labelling/son_20210914.csv')
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12779,25212,Trường THPT thi tran dam ri,Trường THPT thị trấn Đạm Ri,Trường THPT thị trấn Đạm Ri
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [23]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THCS-THPT DTNT-THPT', 'THCS-THPT DTNT'))
df

,Column1,text,normed_text,clean_text
0,17219,Vus - Anh Văn Hội Việt Mỹ,Anh Văn Hội Việt Mỹ VUS,Anh Văn Hội Việt Mỹ VUS
1,21095,Bachkhoa-aptech,Bách Khoa Aptech,Bách Khoa Aptech
2,27921,HCMC POLYTECHNOLOGY UNIVERSITY,Bách Khoa Aptech,Bách Khoa Aptech
3,22942,ban cong phan boi chau,Bán công Phan Bội Châu,Bán công Phan Bội Châu
4,24258,trung tam bdnvsp va gdtx tinh ha tinh,TT BDNVSP và GDTX tỉnh Hà Tĩnh,BDNVSP và GDTX Hà Tĩnh
...,...,...,...,...
12778,24734,trung hoc y te kon tum,Trung học Y tế Kon Tum,Trung học Y tế Kon Tum
12779,25212,Trường THPT thi tran dam ri,Trường THPT thị trấn Đạm Ri,Trường THPT thị trấn Đạm Ri
12780,26998,TSQ VIET BAC QKI,Trường TSQ Việt Bắc,TSQ Việt Bắc
12781,20051,THPT dân lập tư thục NGÔ THỜI NHIỆM,Trường Tư Thục Ngô Thời Nhiệm,Tư Thục Ngô Thời Nhiệm
12782,25015,truong vhnt dak lak,Trường VHNT Đắk Lắk,VHNT Đắk Lắk

In [25]:
df.to_csv('./data_for_labelling/son_20210914_1.csv', index=False)

##

In [11]:
import pandas as pd
import re

In [16]:
df = pd.read_csv('./data_for_labelling/tien_son_clean.csv')
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [17]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học viện', 'HV'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Học Viện', 'HV'))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [18]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân Tộc Nội Trú', 'THPT DTNT'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc Nội trú', 'THPT DTNT'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('THPT Dân tộc nội trú', 'THPT DTNT'))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Trung học Dân Tộc Nội Trú', 'THPT DTNT'))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [19]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Huyện ', ''))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('huyện ', ''))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [20]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Dân tộc nội trú', 'DTNT'))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [21]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('tỉnh ', ''))
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('Tỉnh ', ''))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [22]:
def remove_quan(s):
    pattern = '(.+)(?:[qQ]uận\ )([A-Za-z].+)'
    for item in re.finditer(pattern, s):
        if item:
            return item.group(1) + item.group(2)
    return s

df['clean_text'] = df['clean_text'].apply(lambda x: remove_quan(x))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [23]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.replace('TRUNG CẤP', 'TC'))
df

,Column1,text,normed_text,clean_text
0,35752,vinacomin,Tập đoàn Công nghiệp Than - Khoáng sản Việt Nam,ập đoàn Công nghiệp Than - Khoáng sản Việt Nam
1,35209,Canh Sat vu trang T45,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
2,36414,trung cap canh sat nd 2,Trường Cao Đẳng Cảnh Sát Nhân Dân 1,CĐ Cảnh Sát Nhân Dân 1
3,36039,Trug cap CSND II,Trường Cao Đẳng Cảnh Sát Nhân Dân 2 cơ sở 2,CĐ Cảnh Sát Nhân Dân 2
4,35531,Cao Dang Nghe Co Dien Ha Noi,Trường Cao Đẳng Cơ Điện Hà Nội,CĐ Cơ Điện Hà Nội
...,...,...,...,...
1208,36558,PHTH Sông Công,Trường Trường THPT Sông Công,THPT Sông Công
1209,35547,Trường THPT Tân Phú Trung,Trường Trường THPT Tân Phú Trung,THPT Tân Phú Trung
1210,35996,phổ thông Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1211,36589,Trường THPT Vĩnh Bảo,Trường Trường THPT Vĩnh Bảo,THPT Vĩnh Bảo
1212,36770,Trường Chuyên Biệt Anh Minh,Trường Tư Thục Giáo Dục Chuyên Biệt Anh Minh,Tư Thục Giáo Dục Chuyên Biệt Anh Minh

In [24]:
df.to_csv('./data_for_labelling/tien_son_clean_1.csv', index=False)